.home{
    width:100%;
    height: 100vh;
    padding: 0 6%;
    background-image: url('../images/home-bg-img.png');
    background-size: cover;
    padding-top: 100px;

    .content{
        width:50%;
        height: 590px;
        padding: 120px 1rem 0 1rem;

        h3{
            font-size: 3.7rem;
            color: #333;
            text-transform: uppercase;
        }

        .home-color-seperate{
            color: $pink;
            text-transform: uppercase;
        }

        p{
            color: #666;
            font-size: 1.5rem;
            padding: 10px 0 45px 0;
        }
    }

    .image-part{
        width:47%;
        height: 640px;

        img{
            width:100%;
            height: 100%;
            animation: swing 3s linear infinite;
        }

        @keyframes swing{
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-20px);
            }
            100%{
                transform: translateY(0);
            }
        }
    }
}
