.review{
    padding-top: 70px;

    .review-box{
        padding: 40px 1rem 0 1rem;

        .review-content{
            width:32%;
            padding:2rem 1rem;
            text-align: center;
            position: relative;
            background-color: #fff;
            border:0.2px solid rgba(0,0,0,0.1);
            box-shadow:0 3px 15px rgba(0,0,0,0.2);
            border-radius: 15px;

            img{
                width:100px;
                border-radius: 50%;
            }

            h3{
                color:$pink;
                font-size: 2rem;
            }

            .stars{

                .star{
                    color: $purple;
                    font-size: 1.5rem;
                }
            }

            p{
                padding-top: 20px;
                line-height: 28px;
                font-size: 1.2rem;
                columns: #666;
            }

            .move-right{
                position: absolute;
                top:25px;
                right:35px;
                font-size: 5rem;
                color: $pink;
                opacity: .3;
            }

        }
    }
}